<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tinyweight Boilerplate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <a href="../"><h1>Tinyweight Express Boilerplate <span id="versionNumber">v{{toolVersion}}</span></h1></a>

{{{body}}}

</body>

<footer>
    <hr>
    <span>StartOut 2024</span>
</footer>
</html>
